      #footer-links {
        margin-bottom: 1em;
      }
      #footer-links a {
        padding: 0 0.5em;
        text-decoration: none;
      }
      /* Visual focus indicator */
      /* Approximates default indicator in WebKit */
      a:hover,
      input:hover,
      textarea:hover,
      button:hover,
      *:focus {
        border: 1px solid #78aed9 !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;
        outline: 0 none !important;
        text-decoration: none;
      }
      /* No need for dotted border on buttons in Firefox */
      button::-moz-focus-inner {
        border: 0;
      }

      /* Menu has its own focus indicator */
      #menu a:hover,
      #menu a:focus {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
      }